@mixin nav-bar($logo-font-fize, $page-indicator-font-size) {
    color:$colorOrange;
    width: 90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
        
    .logo{
        width: 50px;
        height: 41px;
        font-size: $logo-font-fize;
        line-height: 12px;
        color: black;
    }
        
    .page-indicator{
        width: 120px;
        height: 22px;
        font-size: $page-indicator-font-size;
        line-height: 22px;
    }
        
    .hamburger-icon{
        width: 18px;
        height: 2px;
        background-color: black;
    }
}

@mixin search-bar($p-font-size, $background-position){
    color: $colorOrange;
    margin: auto;
    width: 90%;
    padding-top:1%;
    
    input{
        background-image: url("../images/searchBarIcon.svg");
        background-repeat: no-repeat;
        background-position: $background-position;
        width: 100%;
        border: 2px solid $colorOrange;
    }
    
    p{
        font-size:$p-font-size;
    }
    
    ::placeholder{
        color: $colorOrange;
    }
}

@mixin menu{
    width: 0;
    height: 100%;
    margin-top: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    transition: 0.5s;
    background-color: $colorOrange;
    
    ul{
        list-style: none;
    }

    li{
        display: none;
    }
    
    a{
        color:white;
        text-decoration: none;
        list-style: none; 
    }

    input{
        background-color: $colorOrange;
        color: white;
        border: 2px solid white;
        width: 80%;
    }

    ::placeholder{
        color:white;
    }
}

@mixin modal{
    display: none;
    position: fixed;
    z-index: 2;
    left: 35%;
    top: 35%;
    width: 25%;
    height: 25%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}