$colorOrange: #FF473A;
$colorGrey: #D4D4D4;
$font: 'Montserrat', sans-serif;

$basic-font-weight: 600;

$mobile-font-size-small: 10px;
$mobile-font-size-medium: 12px;
$mobile-font-size-large: 18px;

$laptop-font-size-small: 12px;
$laptop-font-size-medium: 14px;
$laptop-font-size-large: 24px;


